body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 12pt;
  background: #0f0f23;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  padding: 0.25em 0.5em;
  background: #10101a;
  border: 1px solid #333;
}
h2 {
  margin: 0;
  font-size: 1.4em;
  color: #0c0;
}
h2 a, h2 a:hover, h2 a:visited {
  color: #0c0;
  text-decoration: none;
}
h3 {
  margin: 0 0 0.7em;
  font-size: 1em;
  color: white;
}
h4 {
  margin: 0;
  font-size: 0.9em;
  color: #ddd;
}
li {
  margin-bottom: 0.3em;
  line-height: 1.2em;
}
p {
  margin: 0 0 0.7em;
  line-height: 1.4em;
}
pre {
  display: flex;
}
strong {
  font-weight: bold;
  color: white;
}
strong.gold {
  color: #ff6;
}
strong.green {
  color: #0c0;
}
ul {
  margin: 0.3em 0 1em;
  padding: 0 0 0 2em;
}
